<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1 id="design"> Codeial/ <%= title %>
    </h1>
    <%-include('header'); %> 
    <%-include('footer'); %> 
</body>

</html>